$primary: #f5f5dc;
$secondary: #a0522d;
$beige: #d0a996;
$blue: #522da0;
$green: #2da052;
$text-primary: #f5f5dc;
$text-secondary: #a0522d;
$font-family-serif: "Merriweather", serif !default;
$font-family-sans-serif: "Playwrite", sans-serif !default;
$bs-body-color: #a0522d !important;
$body-bg: #f5f5dc;
$body-color: #a0522d;

@import "../node_modules/bootstrap/scss/bootstrap";
